.footer {
    background-color: #121212;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .footer-content-top {
        position: relative;
        .footer-mobile-bg-img {
            width: 100%;
        }
        .content {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1.5rem 1rem;
            .footer-title {
                font-size: 2rem;
            }
        }
        .input-group {
            .form-control {
                color: #FFFFFF99;
                background-color: transparent;
                border: 1px solid #FFFFFF99;
                padding: 18px 16px;
            }
            .btn {
                color: #fff;
                background-color: #0E8A00;
                padding: 16px 24px;
            }
        }
    }
    .footer-desktop-bg-img {
        display: none;
    }
    .text-content {
        padding: 1.5rem 1rem;
        .footer-brand {
            margin-bottom: 3rem;
        }
        .desktop-copyright {
            display: none;
        }
        .footer-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 14px;
            list-style-type: none;
            padding: 0;
            margin-bottom: 3rem;
            .list-link {
                color: #ffffffde;
            }
        }
    }

    @include media-breakpoint-up(lg){
        .footer-content-top {
            width: 445px;
            height: 400px;
            position: absolute;
            top: -400px;
            .content {
                .footer-title {
                    font-size: 3rem;
                    text-wrap: nowrap;
                }
            }
        }
        .footer-mobile-bg-img {
            display: none;
        }
        .img-box {
            height: 400px;
            display: flex;
            align-items: center;
            overflow: hidden;
            .footer-desktop-bg-img {
                display: block;
                width: 100%;
            }
        }
        .text-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 0;
            .brand-container {
                display: flex;
                align-items: center;
                gap: 1rem;
                .footer-brand {
                    margin-bottom: 0;
                }
            }
            .footer-list {
                flex-direction: row;
                align-items: center;
                gap: 3rem;
                margin-bottom: 0;
            }
            .desktop-copyright {
                display: block;
                margin-bottom: 0;
            }
            .mobile-copyright {
                display: none;
            }
        }
    }
}