.header {
    background-color: #000;
    transition: background-color 0.3s ease;
    .container {
        flex-direction: row-reverse;
        .navbar-brand{
            color: #fff;
        }
        .navbar-toggler, .btn {
            width: 1.5rem;
            height: 1.5rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .desktop-cart {
            display: none;
        }
        .offcanvas {
            .offcanvas-header {
                display: flex;
                justify-content: space-between;
                .btn {
                    color: #000;
                }
            }
            .offcanvas-body {
                .nav-item {
                    width: 100%;
                    padding: 0;
                }
                .nav-link {
                    width: 100%;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .desktop-navlink {
                    display: none;
                }
                .divider {
                    width: 100%;
                    border-bottom: 1px solid #00000062;
                }
                .dropdown-menu {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    border: none;
                    border-top: 1px solid #00000062;
                    border-radius: 0;
                }
                .dropdown-item {
                    display: flex;
                    color: #0000009a;
                    font-size: 1rem;
                    padding: 0;
                    .qty {
                        font-size: .5rem;
                    }
                }
            }
        }
    }
    
    @include media-breakpoint-up(lg){
        background-color: transparent;
        .container {
            flex-direction: row;
            .navbar-brand{
                color: #000;
                padding: 1.5rem 0;
            }
            .navbar-toggler, .mobile-cart {
                display: none;
            }
            .desktop-cart {
                display: block;
                .btn {
                    color: #fff;
                }
            }
            .offcanvas {
                .offcanvas-header {
                    display: none;
                }
                .offcanvas-body {
                    .desktop-navlink {
                        display: block;
                    }
                    .mobile-navlink {
                        display: none;
                    }
                    .navbar-nav {
                        gap: 3rem;
                    }
                    .nav-link {
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &.navbar-white-theme {
        background-color: #fff !important; 

        .container {
            .navbar-brand {
                color: #121212 !important;
            }
            .navbar-toggler, .btn {
                color: #121212 !important;
            }
        }

        @include media-breakpoint-up(lg) {
            background-color: #fff !important; 
            .container {
                .navbar-brand {
                    color: #121212 !important;
                }
                .desktop-cart .btn {
                    color: #121212 !important;
                }
                .offcanvas .offcanvas-body .nav-link {
                    color: #121212 !important;
                }
            }
        }
    }
}