.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1.5rem 0;
  margin: 0;

  @include media-breakpoint-up(lg){
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }

  .page-item {
    cursor: pointer;
    color: #121212;
    font-size: 1.5rem;
    line-height: 1.5;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      color: #0e8a00;
    }

    &.active {
      color: #0e8a00;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}