.homepage {
    .heroBanner {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        .heroBanner-box {
            width: 100%;
            height: 100%;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba($color: #000000, $alpha: .38);
                z-index: 1;
            }
            .heroBanner-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 1rem;
            position: absolute;
            inset: 0;
            z-index: 2;
            .text-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                flex-grow: 1;
                .title {
                    color: #fff;
                    font-size: 3rem;
                    font-weight: bold;
                    line-height: 1.5;
                    text-align: center;
                    margin: 0;
                }
                .subtitle {
                    color: #ffffff99;
                    font-size: 1rem;
                    font-weight: normal;
                    line-height: 1.5;
                    text-align: center;
                    margin: 0;
                }
            }
            .btn {
                color: #fff;
                line-height: 1.5;
                background: #0e8a00;
                border-radius: .25rem;
                padding: 18px 1.5rem;
            }
        }
    }

    .features {
        padding: 3rem 1rem;
        .cards-group {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0;
            margin: 0;
        }
        .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border: none;
            .card-imgs {
                width: 100%;
                .card-img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .card-content {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                .text-content {
                    display: flex;
                    flex-direction: column;
                    .card-title {
                        color: #121212;
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin-bottom: 1rem;
                    }
                    .card-desc {
                        color: #0000009a;
                        font-size: 1rem;
                        line-height: 1.5;
                        margin-bottom: 1.5rem;
                    }
                    .more {
                        color: #0e8a00;
                        font-size: 1rem;
                        font-weight: bold;
                        line-height: 1.25;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .director {
        height: 400px;
        overflow: hidden;
        position: relative;
        .director-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            inset: 0;
            padding: 1.5rem 1rem;
            .title {
                color: #fff;
                font-size: 2rem;
                font-weight: bold;
                line-height: 1.5;
                margin: 0;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                .job {
                    color: #ffffff99;
                    font-size: 1rem;
                    line-height: 1.5;
                    margin: 0;
                }
                .name {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: normal;
                    margin: 0;
                }
                .community {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    padding: 0;
                    padding-top: .75rem;
                    margin: 0;
                    .community-item {
                        color: #0e8a00;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 1.25;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .products {
        padding: 3rem 1rem;
        overflow-x: scroll;
        .cards-group {
            display: flex;
            gap: 1rem;
            flex-wrap: nowrap;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .cards {
            min-width: 240px;
            max-width: 350px;
        }
        .card-item {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            text-decoration: none;
            .card-imgs {
                aspect-ratio: 1 / 1;
                position: relative;
                .card-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .tag {
                    color: #fff;
                    font-size: .875rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
            }
            .card-content {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                .name {
                    color: #121212;
                    font-size: 1.5rem;
                    font-weight: bold;
                    line-height: 1.5;
                    margin: 0;
                }
                .prices {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    .price {
                        color: #121212;
                        font-size: 1rem;
                        line-height: 1.5;
                        margin: 0;
                    }
                    .originPrice {
                        color: #00000062;
                        font-size: 1rem;
                        line-height: 1.5;
                        text-decoration: line-through;
                        margin: 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg){
        .heroBanner {
            display: flex;
            flex-direction: row-reverse;
            .heroBanner-box {
                width: 50%;
                height: 100%;
                &::after {
                    content: none;
                }
            }
            .content {
                width: 50%;
                max-width: 660px;
                height: 100%;
                justify-content: center;
                gap: 3rem;
                position: relative;
                padding: 0;
                .text-content {
                    align-items: flex-start;
                    flex-grow: 0;
                    .title {
                        color: #121212;
                        text-align: start;
                    }
                    .subtitle {
                        color: #0000009a;
                        font-size: 1.5rem;
                        text-align: start;
                    }
                }
                .btn {
                    min-width: 160px;
                    align-self: flex-start;
                }
            }
        }
        
        .features {
            padding: 4.5rem 0;
            .cards-group {
                gap: 2rem;
                .card {
                    flex-direction: row;
                    gap: 1.875rem;
                    .card-imgs {
                        width: calc((100% - 1.875rem) / 2);
                    }
                    .card-content {
                        width: calc((100% - 1.875rem) / 2);
                        justify-content: center;
                        align-items: center;
                        .text-content {
                            max-width: 350px;
                        }
                    }
                    &:nth-child(even) {
                        flex-direction: row-reverse;
                        text-align: end;
                    }
                }
            }
        }
        
        .director .container{
            flex-direction: row;
            align-items: center;
            .title {
                max-width: 350px;
            }
        }
        
        .products {
            padding: 4.5rem 0;
            .cards-group {
                gap: 1.875rem;
            }
        }
    }
}