.homepage {
    .heroBanner {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        .heroBanner-box {
            width: 100%;
            height: 100%;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba($color: #000000, $alpha: .38);
                z-index: 1;
            }
            .heroBanner-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 1rem;
            position: absolute;
            inset: 0;
            z-index: 2;
            .text-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                flex-grow: 1;
                .title {
                    color: #fff;
                    font-size: 3rem;
                    font-weight: bold;
                    line-height: 1.5;
                    text-align: center;
                }
                .subtitle {
                    color: #ffffff99;
                    font-size: 1rem;
                    font-weight: normal;
                    line-height: 1.5;
                    text-align: center;
                }
            }
            .btn {
                color: #fff;
                line-height: 1.5;
                background: #0e8a00;
                border-radius: .25rem;
                padding: 18px 1.5rem;
            }
        }
    }

    .features {
        padding: 3rem 1rem;
        .cards-group {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0;
            margin: 0;
        }
        .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border: none;
            .card-imgs {
                width: 100%;
                .card-img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .card-content {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                .text-content {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .card-title {
                        color: #121212;
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin: 0;
                    }
                    .card-desc {
                        color: #0000009a;
                        font-size: 1rem;
                        line-height: 1.5;
                        margin: 0;
                    }
                }
                .more {
                    color: #0e8a00;
                    font-size: 1rem;
                    font-weight: bold;
                    line-height: 1.25;
                    text-decoration: none;
                }
            }
        }
    }

    .director {
        height: 400px;
        overflow: hidden;
        position: relative;
        .director-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            inset: 0;
            padding: 1.5rem 1rem;
            .title {
                color: #fff;
                font-size: 2rem;
                font-weight: bold;
                line-height: 1.5;
                margin: 0;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                .job {
                    color: #ffffff99;
                    font-size: 1rem;
                    line-height: 1.5;
                    margin: 0;
                }
                .name {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: normal;
                    margin: 0;
                }
                .community {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    padding: 0;
                    padding-top: .75rem;
                    margin: 0;
                    .community-item {
                        color: #0e8a00;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 1.25;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}