@import 'bootstrap/scss/bootstrap';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import './layout/header';
@import './layout/footer';

@import './components/product-card';
@import './components/cart-offcanvas';
@import './components/pagination';

@import './pages/homepage';
@import './pages/product';

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.object-fit-cover {
  object-fit: cover;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-fill {
  font-variation-settings: 'FILL' 1;
}
